<!doctype html>
<html lang="en">
  <head>
    
  </head>
  <body>
  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner"  style="height:auto">
    <div class="carousel-item active" data-bs-interval= "6000" >
      <img src="/assets/Aichi-Dried.jpg" class="d-block mw-100 " alt="...">
    </div>
    <div class="carousel-item" data-bs-interval= "6000">
      <img src="/assets/愛知できになるドライフルーツを投稿！.jpg" class="d-block mw-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval= "6000">
      <img src="/assets/favorite.jpg" class="d-block mw-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div class="contents">
  <% @posts.each do |post| %>
  <div class="img-thumbnail text-center  mx-auto" style="width: 50rem;">
    <div class="card">
      <img class="card-img-top" >
        <%= image_tag(post.image.url)%>
      <div class="card-body">
        <ul >
          <li class="p-3 mb-2 bg-primary bg-gradient text-white" role="button">
            <%= link_to '詳細', "/posts/#{post.id}", method: :get %>
          </li>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <li class="p-3 mb-2 bg-success bg-gradient text-white" role="button">
            <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
          </li>
          <li class="p-3 mb-2 bg-danger bg-gradient text-white" role="button">
            <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
          </li>
        <% end %>
      <h5 class="card-title"><%= simple_format(post.title) %></h5>
      <p class="card-text"><%= simple_format(post.text) %></p>
      <p class="card-text"><small class="text-muted"><span>投稿者</span><%= post.user.name%></small></p>
      </div>
    </div>
  </div>
      
   
  <% end %>
  <%= paginate(@posts) %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>