<div class="contents row">
  <div class="container">
    <%= form_with(model: @post, local: true) do |form| %>
      <h3>
        投稿する
      </h3>
 
<%= form.file_field :image %>
<%= form.text_field  :title, placeholder: "タイトル" %>
<%= form.text_area  :text, placeholder: "気に入ったドライフルーツを投稿しよう" , rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>

  </div>
</div>